* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #322A30;
  display: flex;
  flex-direction: row;
}

img {
  width: 20px;
  margin: 5px;

}

.ideabox-title {
  color: #A79CC0;
  padding-left: 30px;
}

.triples-title {
  color: #FFF;
  margin-left: 3px;
}
.title-body-wrapper {
  align-items: center;
  background-color: #EDF2F2;
  display: flex;
  justify-content: center;
}

.title-body-container {
  background-color: #EDF2F2;
  color: #7C7879;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
}

.main-title {
  display: flex;
}

#title-input {
  border: 1px solid #D2CCCD;
  border-radius: 4px;
  font-weight: 300;
  height: 30px;
  margin: 10px 0px;
  width: 650px;
}

#body-input {
  border: 1px solid #D2CCCD;
  border-radius: 4px;
  font-weight: 300;
  height: 80px;
  margin: 10px 0px;
  width: 650px;
}

#save-button {
  background-color: #5F5C6B;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 650px;
}

#save-button:disabled {
  background-color: #C2C1C0;
}

#save-button:hover {
  background-color: #524649;
}

.search-container {
  display: inline-flex;
  font-weight: 300;
  margin: 10px;
  margin-left: auto;
  overflow: hidden;
  padding: 15px;
  position: relative;
}

.search-container i {
  background-color: #8C8C8C;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF;
  font-size: 23px;
  margin: -1px;
  padding: 0.4rem;
  padding-bottom: 6px;
}

#live-search {
  border-radius: 4px 0px 0px 4px;
  font-size: 18px;
  font-weight: 300;
  margin: -1px;
  padding: 0.3rem 0.3rem 0.3rem 0;
  padding-left: 5px;
  width: 250px;
}

.card-wrapper {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.idea-card {
  border: 2px solid #D2CCCD;
  border-radius: 4px;
  padding: 20px 10px 0px 10px;
  margin: 20px 10px 0px 10px;

}

.card-title {
  color: #6E646B;
}

.card-body, 
.idea-card-footer {
  color: #7C7879;
}

.arrow-buttons-quality-container,
.delete-button-container {
  padding: 5px;
  display: flex;
  align-items: center;
}


.idea-card-footer {
  display: flex;
  justify-content: space-between;
}


/* -- Media Queries -- */

@media screen and (max-width: 680px) {
  .title-body-wrapper,
  .title-body-container,
  #title-input,
  #body-input,
  #save-button {
    width: 100%;
  }
}

@media screen and (max-width: 594px) {
  #live-search,
  .ideabox-title,
  .triples-title,
  {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .ideabox-title,
  .triples-title,
  #live-search {
    /* too much space between ideabox and triples title */
    display: flex;
    font-size: 24px;
    padding-left: 20px;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .title-body-container,
  #title-input,
  #body-input,
  #save-button {
  width: 100%;
  }
}