* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

img {
  margin: 5px;
  width: 20px;
}

/* -- Header -- */

header {
  background-color: #322A30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-title {
  display: flex;
}

.ideabox-title {
  color: #A79CC0;
  padding-left: 30px;
}

.triples-title {
  color: #FFF;
  margin-left: 3px;
}

/* -- Live search -- */

.search-container {
  display: flex;
  font-weight: 300;
  justify-content: flex-end;
  margin-left: auto;
  margin: 10px;
  overflow: hidden;
  padding: 15px;
  position: relative;
}

.search-container i {
  background-color: #8C8C8C;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF;
  font-size: 23px;
  margin: -1px;
  padding-bottom: 6px;
  padding: 0.4rem;
}

#live-search {
  border-radius: 4px 0px 0px 4px;
  font-size: 18px;
  font-weight: 300;
  margin: -1px;
  padding-left: 5px;
  padding: 0.3rem 0.3rem 0.3rem 0;
  width: 250px;
}

/* -- Title/body box -- */

.title-body-wrapper {
  align-items: center;
  background-color: #EDF2F2;
  display: flex;
  justify-content: center;
}

.title-body-container {
  background-color: #EDF2F2;
  color: #7C7879;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
}

#title-input {
  border: 1px solid #D2CCCD;
  border-radius: 4px;
  font-weight: 300;
  height: 30px;
  margin: 10px 0px;
  width: 650px;
}

#body-input {
  border: 1px solid #D2CCCD;
  border-radius: 4px;
  font-weight: 300;
  height: 80px;
  margin: 10px 0px;
  width: 650px;
}

/* -- Buttons -- */

#save-button,
#show-more-less-button {
  background-color: #5F5C6B;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 650px;
}

#save-button:disabled {
  background-color: #C2C1C0;
}

#save-button:hover {
  background-color: #524649;
}

.quality-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 650px;
}

.buttons {
  background-color: #5F5C6B;
  border-radius: 4px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 33%;
}

.show-more-show-less-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* -- Cards -- */

.card-wrapper {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.idea-card {
  border-radius: 4px;
  border: 2px solid #D2CCCD;
  margin: 20px 10px 0px 10px;
  padding: 20px 10px 0px 10px;
  width: 650px;
}

.card-title {
  color: #6E646B;
}

.card-body, 
.idea-card-footer {
  color: #7C7879;
}

.arrow-buttons-quality-container,
.delete-button-container {
  align-items: center;
  display: flex;
  padding: 5px;
}


.idea-card-footer {
  display: flex;
  justify-content: space-between;
}

/* -- Media queries -- */

@media screen and (max-width: 680px) {
  .title-body-wrapper,
  .title-body-container,
  #title-input,
  #body-input,
  #save-button,
  .quality-buttons-container,
  #show-more-less-button {
    width: 100%;
  }
  .title-body-container {
    padding: 7%;
  }
  .show-more-show-less-container {
    padding: 1% 7%;
  }
  .idea-card {
    width: 88%;
  }
}

@media screen and (max-width: 594px) {
  header {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-title {
    font-size: 2.5em;
    margin: 30px 30px 0px 0px;
  }
  .search-container {
    justify-content: center;
  }
  .quality-buttons-container {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    font-size: 20px;
    margin-bottom: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .ideabox-title,
  .triples-title {
    display: flex;
    font-size: 36px;
    width: 100%;
  }
  #live-search {
    font-size: 20px,
  }
  header {
    display: flex;
  }
  .title-body-container,
  #title-input,
  #body-input,
  #save-button {
    width: 100%;
  }
  .idea-card {
    width: 85%;
  }
}